---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

import HeaderInfo from "@/components/HeaderInfo";
import Profile from "@/components/Profile";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<HeaderInfo />
		<div class="mb-4">
			<Profile />
		</div>
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="title mb-4 text-2xl">Publicaciones recientes</h2>
			<ul class="space-y-4 sm:space-y-2">
				{
					allPostsByDate.map((p) => (
						<li class="flex flex-col gap-x-2 sm:flex-row">
							<PostPreview post={p} />
						</li>
					))
				}
			</ul>
		</section>
		<section class="mt-16"></section>
	</section>
</PageLayout>
