---
import Skills from "./Skills.astro";
import TimeLineElement from "./layout/TimeLine.astro";
---

<div>
	<div class="mb-5">
		<div class="w-full text-2xl font-bold">Perfil</div>
	</div>

	<div class="time-line-container mb-10">
		<TimeLineElement
			title="Software Engineer Tech Lead"
			subtitle="From [04-2023] to [present] at Elasbit, Santiago de Chile, Chile (Remote)"
		>
			Lidero el desarrollo de aplicaciones para la entidad tributaria saudí, enfocadas en
			modularidad y escalabilidad con Node.js, NestJS, React y React Native. Garantizamos seguridad
			en facturas electrónicas con firma digital y procesamiento XML. Colaboramos con equipos
			multidisciplinarios, implementando Docker, Kubernetes y Oracle Cloud Storage para eficiencia y
			estabilidad, mejorando la experiencia del usuario.
		</TimeLineElement>
		<TimeLineElement
			title="Senior Backend Developer"
			subtitle="From [02-2022] to [present] at Informage Studios, Valencia, Expaña (Remote)"
		>
			Participé en el desarrollo exitoso de "Burger King Rey de la Baraja", utilizando Nest.js y
			MySQL en el backend y Vue.js en el frontend en un proyecto desafiante con plazos ajustados de
			tres meses. Implementamos el patrón CQRS para manejar 1.6 millones de solicitudes diarias.
			También lideré un equipo en la creación de juegos de casino en línea utilizando arquitectura
			hexagonal, DDD y TDD, resultando en sistemas robustos y atractivos con tecnologías como
			Node.js, AdonisJS, MongoDB, Redis, Docker, AWS y Vue.js.
		</TimeLineElement>
		<TimeLineElement
			title="Full Stack Developer"
			subtitle="From [12-2019] to [02-2022] at Freelance, Holguin, Cuba (Remote)"
		>
			He tenido el privilegio de colaborar con una variedad de clientes en ubicaciones como Miami
			(EEUU), República Dominicana, Panamá y otros lugares. Mis proyectos abarcaron desde sitios web
			personales hasta páginas corporativas y sistemas de gestión, utilizando la pila tecnológica
			MERN (MongoDB, Express, React y Node.js). Esta experiencia me proporcionó crecimiento técnico,
			habilidades de atención al cliente y expertise en diseño y arquitectura de software para crear
			soluciones personalizadas y exitosas. Enfocándome en equilibrar la visión del cliente y altos
			estándares de calidad, logré proyectos únicos y funcionales.
		</TimeLineElement>
		<TimeLineElement
			title="Ingeniero de Software "
			subtitle="From [08-2017] to [12-2021] at Desoft, Holguin, Cuba (Presencial)"
		>
			Lideré proyectos de automatización y desarrollo utilizando tecnologías como Node.js, MongoDB,
			React y más. Mejoré la eficiencia y satisfacción del cliente en un 30%. Reescribí sistemas y
			desarrollé aplicaciones, incluyendo plugins para Nagios. Fui promovido a Principal DBA
			Engineer, gestionando bases de datos diversas, ampliando mi experiencia y habilidades en
			sistemas de gran escala.
		</TimeLineElement>
	</div>

	<Skills />

	<div class="mb-5">
		<div class="w-full text-2xl font-bold">Educación</div>
	</div>

	<div class="time-line-container mb-10 grid gap-4">
		<TimeLineElement
			title="Software Engineer"
			subtitle="[09-2012] to [05-2017] at Universidad de Holguin, Holguin, Cuba"
		/>
		<TimeLineElement
			title="Bachiller en Ciencias Exactas "
			subtitle="[09-2008] to [05-2011] at IPVCE 'José Martí', [City], [Country]"
		/>
	</div>

	<div class="mb-5">
		<div class="w-full text-2xl font-bold">Certificaciones</div>
	</div>

	<ul class="mx-6 mb-10 grid list-disc gap-2 text-lg">
		<li class="hover:text-link">
			<a href="https://www.hackerrank.com/certificates/7d3c8e9e9488" target="_blank">
				JavaScript (Basic) by HackerRank</a
			>
		</li>
		<li class="hover:text-link">
			<a href="https://www.hackerrank.com/certificates/8689b33529dd" target="_blank">
				JavaScript (Intermediate) by HackerRank</a
			>
		</li>
		<li class="hover:text-link">
			<a href="https://www.hackerrank.com/certificates/20e07b7d803e" target="_blank">
				Problem Solving (Basic) by HackerRank</a
			>
		</li>
		<li class="hover:text-link">
			<a href="https://www.hackerrank.com/certificates/7b1359cc6db6" target="_blank">
				Rest API (Intermediate) by HackerRank</a
			>
		</li>
		<li class="hover:text-link">
			<a
				href="https://www.freecodecamp.org/espanol/certification/fcc19ad30c0-6976-4208-a78a-8c041d36761f/javascript-algorithms-and-data-structures"
				target="_blank"
			>
				JavaScript Algorithms and Data Structures by freeCodeCamp</a
			>
		</li>
	</ul>
</div>
